---
import Layout from "../layouts/Layout.astro";
import Hero3Collage from "../components/heroes/Hero3Collage";
import Footer from "../components/Footer.astro";
---

<Layout
  title="뉴질랜드 한민족 한글학교"
  transparentNav
>
  <Hero3Collage client:load />
  <div class="hidden md:block"><Footer /></div>
</Layout>
